---
import Layout from "@/layouts/Layout.astro"
import ContainerTable from "@/components/containerTable.astro"
---
<Layout title="Containers">
	<div class="breadcrumbs bg-white z-50 text-sm">
    <ul>
      <li><a href="/container">Container</a></li>
    </ul>
  </div>
	<ContainerTable />
</Layout>
