---
import docker from "@/lib/docker";
import ContainerRow from "./containerRow.astro";

const containerGroupList = await docker.getContainerGroupList()
---
<table class="table table-sm">
  <!-- head -->
  <thead class="sticky top-0 bg-gray-200">
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Ports</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    {containerGroupList.map(group => {
      if (group.type === "container") {
        return (<ContainerRow data={group.data} />)
      }

      if (group.type === "group") {
        return (
          <>
            <tr class="bg-gray-200"><th class="text-xs" colspan="4">{group.name}({group.data.length})</th></tr>
            {group.data.map(container => (<ContainerRow data={container} />))}
          </>  
        )
      }
    })}
  </tbody>
</table>
